@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #175737;
}

/* barra de navegação */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    z-index: 30;
    background: #145035;
}

nav .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 70px;
    border-radius: 50px;
}

header ul {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
}

header ul li {
    list-style: none;
    margin-left: 1rem;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    transition: 0.3s;
}

header ul li a:hover,
header ul li a.active {
    background: #ffffff;
    border-radius: 3rem;
    color: #145035;
}

.burguer {
    display: none;
    cursor: pointer;
}

.burguer div{
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    margin: 6px;
    transition: all 0.3s ease;
}

/* cards */

.cards{
    padding: 50px;
    display:inline-block;
}

.container {
    display: block;
    position: relative;
    width: 1150px;
    padding: 20px;
    display: block;
    flex-wrap: wrap;
    float: left;
    width: 30%;
    margin-top: 80px;
}

.container .card {
    
    padding: 10px;
    width: 350px;
    height: 500px;
    background-color: rgba(0, 124, 83, 0.5);
    margin: 20px;
    border: 3px solid white;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    color: white;

}

.title {
    color: white;
}

.container .card img {
    transition: 0.5s;
}

.container .card h1 {
    font-size: 1.6rem;
}

.container .card h2 {
    padding-bottom: 20px;
    padding-top: 60px;
}

.container .card .content {
    padding: 20px;
    text-align: center;
}

.container .card .content p {
    color: white;
    transition: 0.5s;
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.container .card:hover {
    background-color: #fff;
    color: #175737;
    margin-top: 30px;
    box-shadow: 2px 20px 25px rgba(0, 0, 0, 0.822);
    border-color: rgba(0, 124, 83, 0.397);
}

.container .card:hover .content h1 {
    color: black;
}

.container .card:hover .content p {
    color: #175737;
}

/* footer */

footer {
margin: top 25%;;
    padding: 40px 0;
    background: #ffffff;
    position:static;
}

footer .social {
    text-align: center;
    padding-bottom: 25px;
}

footer .social a {
    margin: 0 8px;
    opacity: 0.75;
}

footer .social a:hover {
    opacity: 0.9;
}

a img {
    width: 40px;
}

footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer ul li a:hover {
    opacity: 1;
    color: #145035;
}

footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

@media (max-width: 1240px) {
    .nav-list {
        width: 60%;
    }
}

@media (max-width: 1350px){
    section .container{
        grid-template-columns: 1fr;
    }
    body {
        overflow-x: hidden;
    }

    .nav-list {
        font-size: 30px;
        position: absolute;
        top: 14vh;
        right: 0;
        height: 90vh;
        background: #145035;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navbar {
        padding: 20px 0;
    }
    .logo {
        width: 80px;
    }
    .nav-list li {
        opacity: 0;
    }
    .burguer{
        display: block;
        padding-left: 250px;
        margin-right: 10px;
    }
    .burguer div {
        width: 50px;
        height: 6px;
        margin: 9px;
    }
    .container {
        display: block;
        position: relative;
    }

    .intro {
        margin-bottom: 300px;
    }

    .card img {
        width: 350px;
    }
    footer {
        margin-top: 1000px;
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-18px,8px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-13px,-3px);
}

@keyframes navListFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}