/* Home */

@media (max-width: 1240px) {
    .nav-list {
        width: 60%;
    }
}

@media (max-width: 1350px){
    section .container{
        grid-template-columns: 1fr;
    }

    body {
        overflow-x: hidden;
    }

    .nav-list {
        font-size: 30px;
        position: absolute;
        top: 5.5vh;
        right: 0;
        height: 100vh;
        background: #145035;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .container {
        padding: 20px 0;
    }
    .logo {
        width: 190px;
    }

    .nav-list li {
        opacity: 0;
    }

    .burguer{
        display: block;
        padding-left: 340px;
    }

    .burguer div {
        width: 50px;
        height: 6px;
        margin: 9px;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;   
    }

    .support-content {
        margin-left: 20%;
        align-items: center;
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-18px,8px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-13px,-3px);
}

@keyframes navListFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@media(max-width: 600px){
    .big-title{
        font-size: 4rem
    }

    .text{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }
}

/* formulário */

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .caixa {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .caixa {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
    textarea {
        width: 300px;
        height: 80px;
    }
}

/* Sobre */

@media (max-width: 1240px) {
    .nav-list {
        width: 60%;
    }
}

@media (max-width: 1350px){
    section .container{
        grid-template-columns: 1fr;
    }
    body {
        overflow-x: hidden;
    }

    .nav-list {
        font-size: 30px;
        position: absolute;
        top: 14vh;
        right: 0;
        height: 90vh;
        background: #145035;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navbar {
        padding: 20px 0;
    }
    .logo {
        width: 80px;
    }
    .nav-list li {
        opacity: 0;
    }
    .burguer{
        display: block;
        padding-left: 250px;
        margin-right: 10px;
    }
    .burguer div {
        width: 50px;
        height: 6px;
        margin: 9px;
    }
    .container {
        display: block;
        position: relative;
    }

    .intro {
        margin-bottom: 300px;
    }

    .card img {
        width: 350px;
    }
    .footer {
        margin-top: 1000px;
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-18px,8px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-13px,-3px);
}

@keyframes navListFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
 
/* Fale Conosco */

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .caixa {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .caixa {
        width: auto;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
    textarea {
        width: 300px;
        height: 80px;
    }
    body {
        margin: 0;
    }
    .form {
        border-radius: 20px;
    }
}

/* Apoie*/

@media (max-width: 1240px) {
    .nav-list {
        width: 60%;
    }
}

@media (max-width: 1350px){
    section .container{
        grid-template-columns: 1fr;
    }
    body {
        overflow-x: hidden;
    }

    .nav-list {
        font-size: 30px;
        position: absolute;
        top: 14vh;
        right: 0;
        height: 90vh;
        background: #145035;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navbar {
        padding: 20px 0;
    }
    .logo {
        width: 80px;
    }
    .nav-list li {
        opacity: 0;
    }
    .burguer{
        display: block;
        padding-left: 250px;
        margin-right: 10px;
    }
    .burguer div {
        width: 50px;
        height: 6px;
        margin: 9px;
    }
    .container {
        display: block;
        position: relative;
    }

    .intro {
        margin-bottom: 300px;
    }

    .card img {
        width: 350px;
    }
    footer {
        margin-top: 1000px;
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-18px,8px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-13px,-3px);
}

@keyframes navListFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}