@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* barra de rolagem */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #175737;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 1rem;
}

/* Imagem principal da página */

.container{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.sky {  
    position: absolute;
    width: 1370px;
    bottom: 70px;
    right: 0;
    z-index: 16;
}

.mountain3 { 
    position: absolute;
    width: 1370px;
    bottom: -120px;
    right: 0;
    z-index: 17;
}

/* barra de navegação */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    z-index: 30;
    background: #145035;
}

nav .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 70px;
    border-radius: 50px;
}

header ul {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
}

header ul li {
    list-style: none;
    margin-left: 1rem;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    transition: 0.3s;
}

header ul li a:hover,
header ul li a.active {
    background: #ffffff;
    border-radius: 3rem;
    color: #145035;
}

/* Título da página */

.big-title{
    position: absolute;
    z-index: 17;
    line-height: 4rem;
    top: calc(40% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    left: 1rem;
}

.big-title {
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

/* conteúdo da página */

section{
    width: 100%;
    background-color: #175737;
    position: relative;
}

section .container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section .container > *{
    margin: 2rem;
}

.content{
    color: #fff;
    transform: translateY(-50px);
}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    position: relative;
}

.border{
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #175737, transparent);;
}

.opacity{
    opacity: 0;
}

/* carousel*/

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    width: 500px;
    height: 300px;
}

.carousel-control {
    background: #1757375d;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: #145035;
    color: #ffffff;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #000000;
}

@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    .big-title{
        font-size: 4rem
    }

    .text{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }
}